.add-team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--container-margin);
    height: var(--container-height);
    form {
        background-color: var(--background-color-form);
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.87), rgba(167, 167, 167, 0.89)), url(https://i.ebayimg.com/images/g/xnMAAOSwuNNjRHMp/s-l1600.jpg);
        background-position: center;
        background-size: cover;
        box-shadow: rgba(255, 254, 254, 0.788) 0px 10px 25px;
        width: var(--form-width);
        height: var(--form-height);
        border-radius: 50%;
        padding: var(--form-padding);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: large;
        font-weight: 500;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 10px 0;
            input {
                background-color: #ffffffde;
                padding: 7px;
                width: 90%;
                margin-top: 5px;
            }
        }
        .select-coach {
            select {
                padding: 5px;
                margin-top: 5px;
                background-color: #ffffffde;
                width: 94%;
            }
        }
    }
}

.error {
    color: var(--error-color);
    text-align: center;
}

