.edit-team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6;
    margin: var(--container-margin);
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 0;
    }
    li {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 5px 10px;
        margin: 5px auto;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        background-color: #fff9;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
