.team-details-container {
  margin: var(--container-margin);
  background-color: #fff9;
  display: grid;
  height: calc(100vh - var(--navbar-height));
  height: 100vh;
  .team-details-card {
    display: flex;
    justify-content: space-between;
  }
  .team-header {
    background-image: linear-gradient(
        180deg,
        rgba(248, 248, 248, 0.062),
        rgba(0, 0, 0, 1)
      ),
      url("../../assets/navbackground.jpg");
    /* background-position: top; */
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    img {
      max-height: 200px;
      padding: 40px;
      background-color: #fff;
      border-radius: 25%;
    }
    h2 {
      margin: 10px 0 0;
      font-size: 24px;
    }
    .coach-details {
      padding: 0;
      width: 100%;
      h3 {
        color: #000;
        background-color: #fafafa;
        margin-bottom: 15px;
        padding: 5px;
      }
      p {
        font-weight: 400;
        font-size: 1.3em;
      }
    }
  }
}

.players-list {
  flex: 2;
  align-self: center;
  height: 100%;
  h3 {
    background-color: #fafafa;
    margin-bottom: 15px;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
    padding: 0 20px;
  }
  li {
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.players-list li:last-child {
  border-bottom: none;
}

.player-name {
  font-weight: bold;
}