h1 {
    color: #fff;
    margin-left: 10px;
}
.team-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    padding-bottom: 50px;
}

.team-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    height: 250px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.692);
    transition: 0.2s ease-in-out;
    z-index: 1;
    &:hover {
        scale: 1.08;
        cursor: pointer;
        background-color: rgba(247, 228, 120, 0.6);
    }
    img {
        height: 150px;
    }
    h3 {
        margin-top: 0;
    }
}