.add-referee-container {
  background-color: #fff9;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89.9vh;
  div {
    width: 40%;
  }
  input {
    width: 100%;
    margin: var(--input-margin);
    border: none;
    border-radius: var(--border-radius-5);
    background-color: rgba(255, 255, 255, 0.87);
    padding: 7px;
  }
  button {
    margin-top: var(--button-margin-top);
    width: var(--button-width);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--border-radius-5);
    background-color: var(--button-background-color);
    color: #fff;
    transition: all var(--transition-duration);
    &:hover {
        cursor: pointer;
        background-color: var(--button-hover-background-color);
    }
}
}
