.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-image: linear-gradient(180deg, #ffffff, rgba(151, 147, 147, 0.836)), url(https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    height: auto;
    width: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    button {
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 150px;
        background-color: #007bff;
        color: #fff;
        transition: 0.4s all;
        &:hover {
            background-color: #0371e6;
            cursor: pointer;
        }
    }
    .cancel-btn {
        background-color: rgb(211, 30, 30);
        &:hover {
            background-color: rgb(172, 7, 7);
        }
    }
    .save-btn {
        margin-top: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        div {
            padding: 10px 0;
            width: 100%;
        }
        input {
            margin-left: 5px;
            padding: 10px;
            width: 94%;
            margin-top: 10px;
            border-radius: 5px;
            border: none;
            background-color: rgba(255, 255, 255, 0.836);
        }
        select {
            margin-left: 5px;
            padding: 10px;
            border-radius: 5px;
            margin-top: 5px;
            border: none;
            width: 97%;
        }
    }
    .option-select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
