.add-player-container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
  form {
    background-image: linear-gradient(#ffffffef, #302f2faf),
      url(https://img.bleacherreport.net/img/images/photos/002/100/421/hi-res-158391617_crop_north.jpg?1358218916&w=3072&h=2048);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: #fffefec9 0px 0px 15px;
    padding: 30px 50px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      font-size: large;
      font-weight: 500;
      input {
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.87);
        padding: 7px;
      }
      select {
        margin-bottom: 10px;
        cursor: pointer;
        padding: 7px;
        border: none;
        border-radius: 5px;
      }
      .positions-select {
        margin: 10px 0;
        cursor: pointer;
        padding: 7px;
        border: none;
        border-radius: 5px;
        height: 150px;
      }
    }
  }
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 5px;
}
