.players-list-container {
    background-color: #fff9;
    min-height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0;
    ul {
        list-style-type: none;
    }
    li {
        display: flex;
        flex-direction: column;
        width: 400px;
        border: 1px solid #f00;

    }
}

.players-list-container {
    margin: var(--container-margin);
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #004085;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }

  .pagination {
    display: flex;
    align-items: center;
    margin-top: 20px;
    button {
      width: 45px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }