.edit-referee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 100px;
  height: var(--container-height);
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.buttons {
  display: flex;
}
